.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  box-shadow: 0 0 2px 1px rgba(39, 31, 31, 0.2);
  background-color: #073049;
  z-index: 2;
  height: 50px;
  padding-left: 40px;
  padding-right: 300px;
}

.navbar-button {
	display: flex;
	align-items: center;
  flex-direction: row;
  justify-content: center;
	box-shadow:inset 0px 1px 0px 0px #3B4449;
	border: 1px solid #053049;
	background-color: #053049;
	cursor: pointer;
	border-radius: 5px;
	/* padding-left: ; */
	height: 35px;
	width: 100px;
	color: #FFFFFF;
  outline: none;
  margin: 0 auto;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  
}

.navbar-button:hover {
	display: flex;
	align-items: center;
  flex-direction: row;
  justify-content: center;
	box-shadow:inset 0px 1px 0px 0px #2D5066;
	border: 1px solid #0A4266;
	background-color: #0A4266;
	cursor: pointer;
	border-radius: 5px;
	/* padding-left: ; */
	height: 35px;
	width: 100px;
	color: #FFFFFF;
  outline: none;
  margin: 0 auto;
  text-align: center;
}


.nav-bar ul {
    display: flex;
    flex-direction: row;
    width: 175px;
    justify-content: space-between;
}

.nav-bar ul li {
  display: flex;
  align-content: center;
  list-style: none;
}


#zero-notificaitons {
    /* display: block; */
    height: 25px;
    width: 25px;
    line-height: 25px;
    -moz-border-radius: 50%; /* or 50% */
    border-radius: 50%; /* or 50% */
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 12px;
}

#some-notificaitons {
    /* display: block; */
    height: 30px;
    width: 30px;
    line-height: 25px;
    -moz-border-radius: 50%; /* or 50% */
    border-radius: 50%; /* or 50% */
    background-color: red;
    color: white;
    text-align: center;
    padding-top: 2px;
    font-size: 14px;
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
}

.notification-list-item{
  padding-top: 5px;
  padding-left: 15px;
  cursor: pointer;
}

.nav-signin-login-buttons{
	display: flex;
	flex-direction: row;
}

.show-nav-dropdown{
  
  position: absolute;
  top: 31px;
  left: 81px;
  /* opacity: 92%; */
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -250px;
  width: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
  height: fit-content;
}

.hidden-nav-dropdown{
  display: none;

}


.match-notifs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: auto;
}

.match-notifs p {
  /* display: block; */
  text-align: center;
  /* align-self: center; */
  font-size: 14px;
  height: 30px;
  margin: 0;
  padding-top: 5px;
  width: auto;
}

.match-notifs p:hover {
  background-color: rgb(31, 29, 29);
  cursor: pointer;
  font-size: 16px;
}

#dropdown-text {
  text-decoration: none;
  color: rgb(52, 52, 172);
}

#dropdown-text-match {
  text-decoration: none;
  color: rgb(95, 95, 129);
}

.no-notif-dropdown:hover {
  background-color: rgb(63, 60, 60);
  cursor: pointer;
  font-size: 16px;

}

.new-banner-container{
  background: rgb(250, 78, 107);
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: auto;
  top: 0 !important;
  right: 0;
  width: 3vw;
  height: 3vh;
  text-align: center;
}

.new-banner-message{
  text-align: center;
  color: white;
}