.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  box-shadow: 0 0 2px 1px rgba(39, 31, 31, 0.2);
  background-color: #073049;
  z-index: 2;
  height: 50px;
  padding-left: 40px;
  padding-right: 300px;
}

.navbar-button {
	display: flex;
	align-items: center;
  flex-direction: row;
  justify-content: center;
	box-shadow:inset 0px 1px 0px 0px #3B4449;
	border: 1px solid #053049;
	background-color: #053049;
	cursor: pointer;
	border-radius: 5px;
	/* padding-left: ; */
	height: 35px;
	width: 100px;
	color: #FFFFFF;
  outline: none;
  margin: 0 auto;
  text-align: center;
}

.navbar-button:hover {
	display: flex;
	align-items: center;
  flex-direction: row;
  justify-content: center;
	box-shadow:inset 0px 1px 0px 0px #2D5066;
	border: 1px solid #0A4266;
	background-color: #0A4266;
	cursor: pointer;
	border-radius: 5px;
	/* padding-left: ; */
	height: 35px;
	width: 100px;
	color: #FFFFFF;
  outline: none;
  margin: 0 auto;
  text-align: center;
}


.nav-bar ul {
    display: flex;
    flex-direction: row;
    width: 175px;
    justify-content: space-between;
}

.nav-bar ul li {
  display: flex;
  align-content: center;
  list-style: none;
}


#zero-notificaitons {
    /* display: block; */
    height: 25px;
    width: 25px;
    line-height: 25px;
    -moz-border-radius: 50%; /* or 50% */
    border-radius: 50%; /* or 50% */
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 12px;
}

#some-notificaitons {
    /* display: block; */
    height: 25px;
    width: 25px;
    line-height: 25px;
    -moz-border-radius: 50%; /* or 50% */
    border-radius: 50%; /* or 50% */
    background-color: red;
    color: white;
    text-align: center;
    font-size: 12px;
}

.notification-list-item{
  padding-top: 5px;
  padding-left: 15px;
  cursor: pointer;
}

.nav-signin-login-buttons{
	display: flex;
	flex-direction: row;
}

.with-likes{
opacity: 92%;
background-color: black;
display: flex;
justify-content: center;
flex-direction: column;
margin-left: -800%;
width: 800%;
display: none;
}

.no-content{


}