.main-card{
  position: absolute;
  width: 360px;
  height: 480px;
  background: none;
  top: 50%;
  left: 50%;
  border-radius: 10px;  
  transform: translate(-50%, -50%);
  font-family: 'Comfortaa', cursive;
  box-shadow: 0 5px 10px -5px #312f2f70;
}

.cards-container {
  background-color: #E4DCD0;
}

.thecard{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: 1s ease-in-out;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.thecard:hover{
  transform: rotateY(180deg);
}

 .thefront{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  /* background: transparent; */
  color: #000;
  /* border: 1px solid black; */
}

.thefront img {
    width: 100%;
    height: 100%;
}

.card-profile-bottom-middle, .card-profile-bottom-bottom  {
  margin-top: -10px;
}

.card-profile-bottom-footer {
  margin-top: -20px;
}

.theback{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
}

.card-profile-picture {
    width: 100%;
    height: 50% !important; 
}

.card-profile-picture img {
    width: 100%;
    height: 100%;
}

.card-profile-bottom-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}
.card-profile-bottom-middle{
    display: flex;
    justify-content: space-between;
}
.profile-language {
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 15px;
}

.profile-pronouns {
    display: flex;
    flex-direction: column;
    /* right: 0; */
    padding: 15px;
}

.thefront h1, .theback h1{
  font-family: 'zilla slab', sans-serif;
  padding: 30px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.card-profile-bottom-bottom {
    display: flex;
    flex-direction: column;
    float: left;
    text-align: left;
    padding: 15px;
}

.card-profile-bottom-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px;
}

.card-profile-b {
  display: flex;
  flex-direction: column;
}

.profile-name {
  font-size: 22px;
}

.profile-age {
  font-size: 15px;
}

.profile-language, .profile-pronouns, .card-profile-goal, .card-profile-exp {
  font-size: 17px;
  margin-top: 5px;
}


.profile-language label {
  font-size: 13px;
  color: rgb(109, 107, 107);
}

.profile-pronouns label, .card-profile-goal label, .card-profile-exp label {
  font-size: 13px;
  color: rgb(39, 35, 35);
}

.yes-btn, .no-btn {
  border: none;
  outline: none;
  font-size: 55px;
}

.yes-btn {
  color: rgb(91, 185, 155) ;
  background-color: white;
}

.no-btn {
  color: red;
  background-color: white;
}

.language-options {
   top: 5%;
  left: 5%;
  margin-top: 100px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 307px;
  background-color: #073049;
  font-family: 'Comfortaa', cursive;
  margin-left: 30px;
  text-align: left;
  color: white;
  transform: translate(-30%, -15%);
}

.language-option {
  margin-top: 18px;
  margin-left: 15px;
  font-size: 20px;
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  outline: none;
  transition: .5s;
  margin-right: 12px;
}

.language-option:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid white;
  box-sizing: border-box;
  transition: .5s;
}

.language-option:checked:before {
  border-left: none;
  border-top: none;
  width: 15px;
  border-color: #0f0;
  transform: rotate(45deg) translate(-2px, -7px);
}

.language-options label {
  font-size: 20px;
}






