.signup-form-container{
    background-color: #e4dcd0;
    height: 100vh;
    width: auto;
}

.signup-form {
    margin: auto;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form input {
    border-radius: 7px;
    border: 1px solid black;
}