.user-show-master{
    background-image: url('../images/floating_pcs.jpg');
    /* background: firebrick; */
    min-height: 800px;
}

.user-show-content{
    background: #e4dcd0;
    margin: 100px auto;
    width: 60%;
}