.user-show-master{
    /* background-image: url('/images/computer.gif'); */
    min-height: 100vh;
    width: 100%;
    margin-top: 50px;
    background: #34495e;
}

.user-show-master video {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.user-show-content{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30vw;
  min-height: 75vh;
  background: none;
  top: 55%;
  left: 50%;
  border-radius: 10px;  
  transform: translate(-50%, -50%);
  /* font-family: 'MuseoModerno', cursive; */
    /* font-family: 'Acme', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
  box-shadow: 0 5px 10px -5px #312f2f70;
  background-color: wheat;
}

.background-profile-picture {
    width: 100%;
    height: 50% !important;
}

.background-profile-picture img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    width: 100%;
    height: 100%; 
}

.profile-info {
    display: flex;
    flex-direction: column;
    padding: 15px;
    min-height: fit-content;
}

.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile-middle {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.middle-left, .middle-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    width: 100%;
    margin-top: 10px;
}

.profile-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
    /* padding-bottom: 30px; */
    /* margin-top: 115px; */
    /* position: absolute; */
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;

}
.prof-name {
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 21px;
    /* margin-top: 25px; */
    justify-content: center;
}

.prof-birth {
     text-align: right;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    /* margin-top: 20px; */
    justify-content: center;
}


.prof-goal, .prof-exp {
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 21px;
    /* margin-top: 17px; */
    justify-content: center;
    /* min-width: fit-content; */
    width: 50% !important;
}

.prof-language,.prof-pronouns {
    right: 0;
    position: absolute;
    padding-right: 15px;
}

.prof-pronouns, .prof-language {
    text-align: right;
    display: flex;
    flex-direction: column;
    font-size: 21px;
    /* margin-top: 17px; */
    justify-content: center;
    min-width: fit-content;
    width: 50% !important;
}

.prof-language label, .prof-pronouns label,.prof-goal label ,.prof-birth label, .prof-exp label, .prof-name label {
    font-size: 15px;
    color: rgb(109, 107, 107);
    /* padding: 5px; */
}


/* buttons */

.edit-button {
    /* margin-bottom: -130px; */
    border: transparent;
    background: transparent;
    justify-content: space-between;
    cursor: pointer !important;
    display: inline-block !important;
    position: relative !important;
    text-align: center !important;
    /* font-family: 'MuseoModerno', cursive; */
    /* font-family: 'Acme', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;

    font-size: 22px !important;
    line-height: 18px !important;
    font-weight: 500 !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-right: 27px;
    /* margin-bottom: 150px; */
     height: 43px;
    width: 125px;
    --accent-color :#ff0066;
    /* margin-left: 72px; */
}

.edit-button:hover {
    color: #fff;
}

.edit-button:focus {
    outline: 0;
}

.edit-button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color:#073049;;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out ;
    border-radius: 10px;
    /* transform-origin: left; */
}
.edit-button:hover::before,
.edit-button:focus::before {
    transform: scaleX(1);
}

.edit-button {
    transition: transform 300ms ease-in-out;
    z-index: 1;
}

.edit-button:hover::before,
.edit-button:focus::before {
    color: white;
}



.play-button {
    border: transparent;
    background: transparent;
    justify-content: space-between;
    cursor: pointer !important;
    display: inline-block !important;
    position: relative !important;
    text-align: center !important;
    /* font-family: 'MuseoModerno', cursive; */
    /* font-family: 'Acme', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px  !important;
    line-height: 18px !important;
    font-weight: 500 !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    /* margin-bottom: 150px; */
    height: 43px;
    width: 135px;
    --accent-color :#ff0066;
    /* margin-left: 72px; */
}

.play-button:hover {
    color: #fff;
}

.play-button:focus {
    outline: 0;
}

.play-button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color:red;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out ;
    border-radius: 10px;
    /* transform-origin: left; */
}
.play-button:hover::before,
.play-button:focus::before {
    transform: scaleX(1);
}

.play-button {
    transition: transform 300ms ease-in-out;
    z-index: 1;
}

.play-button:hover::before,
.play-button:focus::before {
    color: white;
}

/* dsajk */
