.user-show-master{
    min-height: 100vh;
    width: 100%;
    margin-top: 50px;
    background: #34495e;
}

.user-show-content{
  position: absolute;
  display: grid;
  grid-template-rows: 50% 50%;
  justify-content: space-between;
  width: 26vw;
  min-height: 70vh;
  background: none;
  top: 55%;
  left: 50%;
  border-radius: 10px;  
  transform: translate(-50%, -50%);
    font-family: 'Josefin Sans', sans-serif;
  box-shadow: 0 5px 10px -5px #312f2f70;
  background-color: #e6dbc9;
}

.background-profile-picture {
    width: 100%;
    height: 100% !important;
}

.background-profile-picture img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    width: 100%;
    height: 100%; 
}

.profile-info {
    display: flex;
    flex-direction: column;
    height: 100% !important;
    padding: 15px;
}

.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile-middle {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
}

.middle-left, .middle-right {
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    width: 100%;
    margin-top: 10px;
}

.middle-right {
    margin-top: 3vh;
}

.profile-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 5vh;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;

}
.prof-name {
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    justify-content: center;
}

.prof-birth {
     text-align: right;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    justify-content: center;
}


.prof-goal, .prof-exp {
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    justify-content: center;
    width: 50% !important;
}

.prof-language,.prof-pronouns {
    right: 0;
    position: absolute;
    padding-right: 15px;
}

.prof-pronouns, .prof-language {
    text-align: right;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    justify-content: center;
    min-width: fit-content;
    width: 50% !important;
}

.prof-language label, .prof-pronouns label,.prof-goal label ,.prof-birth label, .prof-exp label, .prof-name label {
    font-size: 17px;
    color: rgb(109, 107, 107);
}


/* buttons */

.edit-button {
    border: transparent;
    background: transparent;
    justify-content: space-between;
    cursor: pointer !important;
    display: inline-block !important;
    position: relative !important;
    text-align: center !important;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px !important;
    line-height: 18px !important;
    font-weight: 500 !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    height: 6vh;
    width: 9vw;
    --accent-color :#ff0066;
}

.edit-button:hover {
    color: #fff;
}

.edit-button:focus {
    outline: 0;
}

.edit-button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color:#073049;;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out ;
    border-radius: 10px;
}
.edit-button:hover::before,
.edit-button:focus::before {
    transform: scaleX(1);
}

.edit-button {
    transition: transform 300ms ease-in-out;
    z-index: 1;
}

.edit-button:hover::before,
.edit-button:focus::before {
    color: white;
}



.play-button {
    border: transparent;
    background: transparent;
    justify-content: space-between;
    cursor: pointer !important;
    display: inline-block !important;
    position: relative !important;
    text-align: center !important;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px  !important;
    line-height: 18px !important;
    font-weight: 500 !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    height: 6vh;
    width: 9vw;
    --accent-color :#ff0066;
}

.play-button:hover {
    color: #fff;
}

.play-button:focus {
    outline: 0;
}

.play-button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color:red;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out ;
    border-radius: 10px;
}
.play-button:hover::before,
.play-button:focus::before {
    transform: scaleX(1);
}

.play-button {
    transition: transform 300ms ease-in-out;
    z-index: 1;
}

.play-button:hover::before,
.play-button:focus::before {
    color: white;
}

